<header>
    <div class="header-container">

        <nav class="navbar navbar-expand-lg navbar-light" style="color: white">
            <a class="navbar-brand" href="#" (click)="logout()"><img style="height: 2.8rem"
                    src="../assets/logotxt.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav-actions" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>

                    <li class="nav-item" *ngIf="isLoggedIn" (click)="showCommunity()">
                        <a class="nav-link" href="#">Community</a>
                    </li>
                    <li class="nav-item dropdown" style="display: none;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <app-button style=" font-size: 16px" [label]="'Join us now!'"
                            (click)="loggedIn($event)"></app-button>
                    </li>

                </ul>

            </div>
        </nav>

        <div *ngIf="!showCommunityContainer">

            <div class="hero" *ngIf="!isLoggedIn">
                <h1 class="hero-title">Discover the World Through Words</h1>

                <p class="hero-subtitle">Dive into Cultures with Our Engaging Book Club App for English Learners and
                    Culture
                    Enthusiasts!</p>
                <div class="hero-btn-actions">
                    <app-button [label]="'Join us now'" style="width: 100%; margin-right: 25px" [type]="'primary'"
                        (click)="loggedIn($event)"></app-button>
                    <app-button [label]="'Learn more'" style="width: 100%;" [type]="'secondary'"></app-button>
                </div>
            </div>

            <div class="content" *ngIf="isLoggedIn">
                <ng-container [ngSwitch]="steps()">
                    <div class="content-first-step" *ngSwitchCase="0">
                        <h1 class="tutorial-header">What is your proficience in english?</h1>
                        <ul>
                            <li><button class="first" (click)="chooseLevel()">A1 Level</button></li>
                            <li><button (click)="chooseLevel()">A2 Level</button></li>
                            <li><button (click)="chooseLevel()">B1 Level</button></li>
                            <li><button (click)="chooseLevel()">B2 Level</button></li>
                            <li><button class="last" (click)="chooseLevel()">C1 Level</button></li>
                        </ul>
                    </div>

                    <div class="content-second-step" *ngSwitchCase="1">
                        <h1 class="tutorial-header">Here are some reccomended books for you</h1>
                        <div class="d-flex justify-content-around">
                            <div *ngFor="let book of books" class="book-item" (click)="selectBook(book)">
                                <img [src]="book.volumeInfo.imageLinks?.smallThumbnail" />
                            </div>
                        </div>
                    </div>

                    <div class="content-third-step book-description-container" *ngSwitchCase="2">

                        <img [src]="selectedBook?.volumeInfo.imageLinks?.smallThumbnail" />

                        <!-- <h1 class="tutorial-header">Here are some reccomended books for you</h1> -->
                        <div class="book-description-container-content">
                            <p [innerHTML]="selectedBook?.volumeInfo.description"></p>
                            <div class="book-description-container-content-actions">
                                <app-button (click)="visitWebsiteBook()" label="Buy book" type="secondary"></app-button>
                                <app-button style="margin-left: 8px" label="Start Reading"
                                    (click)="openTutorialModal()"></app-button>
                            </div>

                        </div>
                    </div>
                    <!-- [mdbPopoverTitle]="word.text" mdbPopover="A state of utter confusion or disorder; a total lack of organization or order." -->

                    <div class="book-description-container-content book-container" *ngSwitchCase="3">
                        <div class="book-summary">
                            <span *ngFor="let word of texts" (click)="openKnownWordModal(word)"
                                [class.selected-word]="word.isSelected"
                                [class.unknown-word]="word.isKnown">{{word.text}}</span>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="community-container" *ngIf="showCommunityContainer">
            <div *ngIf="showClubsContainer">

                <h3 style="color: white;">Clubs</h3>
                <div *ngFor="let group of bookClubs" class="group-container" [class.locked]="group.unlocked">
                    <div class="group-container-img"> <img [src]="group.imgURL" /></div>
                    <div class="group-container-content">
                        <div class="group-container-content-header">
                            <p>
                                {{group.groupName}}

                            </p>
                            <div *ngIf="!group.unlocked; else unlockedTemplate ">
                                <i class="fa-solid fa-lock-open locker"></i>
                            </div>
                        </div>

                        <div class="group-container-content-footer">
                            <div class="group-container-content-footer-amount">
                                Attendees 2/{{group.membersAmount}}
                            </div>

                            <button type="button" class="btn btn-primary btn-principal"
                                style="background-color: var(--color3);" (click)="goToGroup(group)">Join</button>

                        </div>



                        <ng-template #unlockedTemplate>
                            <i class="fa-solid fa-lock locker"></i>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div *ngIf="!showClubsContainer" class="book-meeting">
                <h3 style="color: white;">The in the Hat comes back</h3>

                <!-- <p>PeerId: {{peerId}}</p> -->
                <div id="remote-video"></div>

                <br>

                <div style="margin-top: 20px;">

                    <div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Id" aria-label="Id"
                                [(ngModel)]='peerIdShare' aria-describedby="basic-addon1">
                        </div>
                        <!-- <input type="text" class="input" placeholder="Peer Id" [(ngModel)]='peerIdShare' /> -->
                        <div style="margin-top: 10px">
                            <app-button (click)="screenShare()" type="secondary" [label]="'Screen Share'"></app-button>
                            <app-button style="margin-left: 10px" (click)="connectWithPeer()"
                                [label]="'Join Call'"></app-button>
                        </div>


                    </div>


                    <!-- <button class="button" (click)="connectWithPeer()">Call Peer</button>
                    <button class="button" (click)="screenShare()">Screen share</button> -->
                </div>
            </div>

        </div>

    </div>


</header>

<section *ngIf="isLoggedIn" id="content-container">

</section>

<section id="learn-more-section">
    <!-- {{books}} -->
</section>