<header>
    <div class="header-container">

        <nav class="navbar navbar-expand-lg navbar-light" style="color: white">
            <a class="navbar-brand" href="#">BooKlub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav-actions" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown" style="display: none;">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item" *ngIf="!loggedIn">
                        <app-button style=" font-size: 16px" [label]="'Join us now!'"></app-button>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="hero" *ngIf="!isLoggedIn">
            <h1 class="hero-title">Discover the World Through Words</h1>

            <p class="hero-subtitle">Dive into Cultures with Our Engaging Book Club App for English Learners and Culture
                Enthusiasts!</p>
            <div class="hero-btn-actions">
                <app-button [label]="'Join us now'" style="width: 100%; margin-right: 25px" [type]="'primary'"
                    (click)="loggedIn($event)"></app-button>
                <app-button [label]="'Learn more'" style="width: 100%;" [type]="'secondary'"></app-button>
            </div>
        </div>

        <div class="content" *ngIf="isLoggedIn">
            <ng-container [ngSwitch]="steps()">
                <div class="content-first-step" *ngSwitchCase="0">
                    <h1 class="tutorial-header">What is your proficience in english?</h1>
                    <ul>
                        <li><button class="first" (click)="chooseLevel()">A1 Level</button></li>
                        <li><button (click)="chooseLevel()">A2 Level</button></li>
                        <li><button (click)="chooseLevel()">B1 Level</button></li>
                        <li><button (click)="chooseLevel()">B2 Level</button></li>
                        <li><button class="last" (click)="chooseLevel()">C1 Level</button></li>
                    </ul>
                </div>

                <div class="content-second-step" *ngSwitchCase="1" [@sectionAnim]>
                    <h1 class="tutorial-header">Here are some reccomended books for you</h1>
                    <div class="d-flex justify-content-around">
                        <div *ngFor="let book of books" class="book-item" (click)="selectBook(book)">
                            <img [src]="book.volumeInfo.imageLinks?.smallThumbnail" />
                        </div>
                    </div>
                </div>

                <div class="content-third-step book-description-container" *ngSwitchCase="2">

                    <img [src]="selectedBook?.volumeInfo.imageLinks?.smallThumbnail"/>
                   
                    <!-- <h1 class="tutorial-header">Here are some reccomended books for you</h1> -->
                    <div class="book-description-container-content">
                        <p [innerHTML]="selectedBook?.volumeInfo.description"></p>

                        <app-button label="Buy book" type="secondary"></app-button>
                        <app-button label="Start Reading"></app-button>
                    </div>
                </div>
            </ng-container>



        </div>
    </div>
</header>

<section *ngIf="isLoggedIn" id="content-container">

</section>

<section id="learn-more-section" [@sectionAnim]>
</section>