<header>
    <div class="header-container">

        <nav>
            <div class="logo">BOOClub</div>
            <ul class="btn-nav-actions">
                <li><a href="#learn-more-section">About us</a></li>
                <li><a>Pricing</a></li>
                <li><app-button style="  font-size: 16px" [label]="'Join us now!'"></app-button></li>
            </ul>
        </nav>
        <div class="hero">
            <h1 class="hero-title">Discover the World Through Words</h1>

            <p class="hero-subtitle">Dive into Cultures with Our Engaging Book Club App for English Learners and Culture
                Enthusiasts!</p>
            <div class="hero-btn-actions">
                <app-button [label]="'Join us now'" style="width: 100%; margin-right: 25px" [type]="'primary'"></app-button>
                <app-button [label]="'Learn more'" style="width: 100%;" [type]="'secondary'"></app-button>
            </div>
        </div>
    </div>
</header>

<section id="learn-more-section">

</section>