.option{
    padding: .5rem 20px;
    margin: 5px 20px;
    transition: 0.2s ease-out;
    border-radius: 14px;

    &:hover {
        background-color: var(--color1);
        color: white!important;
        
    }


}

.selecionado
{
    background-color: var(--color1)!important;
    color: white!important;
}

.colored{
    color: #0cbd33!important;
}